<nav role="navigation" class="probootstrap-nav hidden-xs">
  <ul class="probootstrap-main-nav">
    <li class="active"><a routerLink="/home">Pocetna</a></li>
    <li><a routerLink="/services">Usluge</a></li>
    <li><a routerLink="/about">O nama</a></li>
    <li><a routerLink="/contact">Kontakt</a></li>
  </ul>
  <div class="extra-text visible-xs"> 
    <a href="#" class="probootstrap-burger-menu"><i>Menu</i></a>
    <h5>Adresa</h5>
    <p>Resavska 88, Vracar, Beograd</p>
    <h5>Povezite se sa nama</h5>
    <ul class="social-buttons">
      <li><a href="#"><i class="icon-twitter"></i></a></li>
      <li><a href="#"><i class="icon-facebook2"></i></a></li>
      <li><a href="#"><i class="icon-instagram2"></i></a></li>
    </ul>
  </div>
</nav>