<section class="probootstrap-section">
  <div class="container">
    <div class="row">
      <div [@scrollAnimation]="state">
        <h2>Izrada fotografija je nasa specijalnost</h2>
        <p>Kvalitetom fotografija, brzom i profesionalnom uslugom vam obezbedjujemo da sve povodom fotografija zavrsite sa zadovoljstvom u nasoj fotografskoj radnji.</p>    
      </div>
    </div>
    <div>
      <div class="col-md-4">
        <div class="icon" [@scrollAnimation]="state"><i class="icon-laptop3"></i></div>
      </div>
      <div class="col-md-8" [@scrollAnimation]="state">
        <h2 class="mt0">Foto knjiga je nasa iskrena preporuka</h2>
        <p>Foto knjiga vam omogucava da Vase posebne trenutke pretvorite u atraktivnu knjigu tvrdih korica sa 10,20 ili 30 stranama na fotografskom papiru.</p>
      </div>
    </div>
    <div>
      <div class="col-md-4 col-md-push-8">
        <div class="icon" [@scrollAnimation]="state">
          <i class="icon-wallet2"></i>
        </div>
      </div>
      <div class="col-md-8 col-md-pull-4" [@scrollAnimation]="state">
        <h2 class="mt0">Foto pokloni su uvek pri ruci </h2>
        <p>Foto solja, foto magnet ili foto slagalica mogu biti vase kreativno resenje za poklon iznenadjenja vasim najmilijima.</p>    
      </div>
    </div>

    <div>
      <div class="col-md-4">
        <div class="icon" [@scrollAnimation]="state">
          <i class="icon-presentation"></i>
        </div>
      </div>
      <div class="col-md-8" [@scrollAnimation]="state">
        <h2 class="mt0">Izrada fotografija bas kako ste ih Vi zamislili</h2>
        <p>Izrada fotografija sa kojima cete biti odusevljeni je nas glavni cilj. Dobro znamo koliko su Vam Vase fotografije vredne i zato uvek izlazimo u susret svim Vasim zeljama i zahtevima.</p>    
        <p>Ako fotografije ne ispadnu kako ste zamislili, uradicemo Vam nove!</p>
      </div>
    </div>


    <div class="row">
      <div [@scrollAnimation]="state">
        <h2>Jos mnogo toga</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div>

          <div class="icon" [@scrollAnimation]="state">
            <i class="icon-laptop3"></i>
          </div>
          <div class="text" [@scrollAnimation]="state">
            <h3 class="heading">Izrada fotografija najveceg kvaliteta</h3>
            <p>Izrada fotografija je na najkvalitetnijem mat i glanc foto papiru za izradu kolor fotografija, crno-belih fotografija i fotografija u sepia tehnici. Ako postoji jos neki papir ili tehnika, slobodno nam trazite!</p>
          </div>

        </div>
      </div>
      <div class="col-md-4">
        <div>
          <div class="icon" [@scrollAnimation]="state">
            <i class="icon-presentation"></i>
          </div>
          <div class="text" [@scrollAnimation]="state">
            <h3 class="heading">Izrada fotografija sa svih vrsta medija</h3>
            <p>Izrada fotografija je moguca sa filmova, slajdova, CD/DVD-a, flash usb memorije, svih vrsta kartica, sa mobilnih i tablet uredjaja...</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div>
          <div class="icon" [@scrollAnimation]="state">
            <i class="icon-wallet2"></i>
          </div>
          <div class="text" [@scrollAnimation]="state">
            <h3 class="heading">Izrada fotografija svih formata</h3>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
          </div>
        </div>
      </div>


      <div class="col-md-4">
        <div>

          <div class="icon" [@scrollAnimation]="state">
            <i class="icon-hourglass"></i>
          </div>
          <div class="text" [@scrollAnimation]="state">
            <h3 class="heading">Ekspresna izrada fotografija</h3>
            <p>Ako ste u zurbi, naglasite nam da Vam je potrebna izrada fotografija u sto kracem roku. Hitne slucajeve resavamo ekspresnom brzinom!</p>
          </div>

        </div>
      </div>
      <div class="col-md-4">
        <div>
          <div class="icon" [@scrollAnimation]="state">
            <i class="icon-shield3"></i>
          </div>
          <div class="text" [@scrollAnimation]="state">
            <h3 class="heading">Slike za dokumenta za sve namene</h3>
            <p>Slike za dokumenta izradjujemo u roku od 5 minuta i slikacemo Vas dokle god ne budete zadovoljni kako ste ispali.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div>
          <div class="icon" [@scrollAnimation]="state">
            <i class="icon-adjustments"></i>
          </div>
          <div class="text" [@scrollAnimation]="state">
            <h3 class="heading">Brzo i kvalitetno crno-belo fotokopiranje i stampa – A4 i A3 formata</h3>
            <p>Fotokopiranje i stampa dokumenata je moguca sa svih vrsta medija: CD/DVD, usb flash memorija, mobilnih i tablet uredjaja ili putem email-a.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>