<div class="probootstrap-section">
  <div class="container text-center" [@scrollAnimation]="state">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 mb40">
        <h2>Slika govori vise od reci</h2>
        <p>Daleko daleko, na obodima planina, iza brda i dolina, tamo se nalaze nevidjeni svetovi. Odvojeni od ostatka, oni zive na obalama velikog jezickog okeana.</p>    
      </div>
    </div>

    <div class="row probootstrap-gutter16">
      <div class="col-md-4">
        <a href="single-page.html" class="img-bg" style="background-image: url(assets/img/img_1.jpg);">
          <div class="probootstrap-photo-details">
            <h2>Tirkizno more</h2>
            <p>Pejzaz</p>
          </div>
        </a>
      </div>
      <div class="col-md-4">
        <a href="single-page.html" class="img-bg" style="background-image: url(assets/img/img_2.jpg);">
          <div class="probootstrap-photo-details">
            <h2>Ledena planina</h2>
            <p>Pejzaz</p>
          </div>
        </a>
      </div>
    </div>

    <div class="row probootstrap-gutter16">
      <div class="col-md-4">
        <a href="single-page.html" class="img-bg" style="background-image: url(assets/img/img_3.jpg);">
          <div class="probootstrap-photo-details">
            <h2>Zemlja</h2>
            <p>Pejzaz</p>
          </div>
        </a>
      </div>
      <div class="col-md-4">
        <a href="single-page.html" class="img-bg" style="background-image: url(assets/img/img_4.jpg);">
          <div class="probootstrap-photo-details">
            <h2>Prirodni tunel</h2>
            <p>Pejzaz</p>
          </div>
        </a>
      </div>
      <div class="col-md-4">
        <a href="single-page.html" class="img-bg" style="background-image: url(assets/img/img_5.jpg);">
          <div class="probootstrap-photo-details">
            <h2>Cetinarska suma</h2>
            <p>Pejzaz</p>
          </div>
        </a>
      </div>
    </div>

     <div class="row probootstrap-gutter16">
      <div class="col-md-4">
        <a href="single-page.html" class="img-bg" style="background-image: url(assets/img/img_6.jpg);">
          <div class="probootstrap-photo-details">
            <h2>Lanac planina</h2>
            <p>Pejzaz</p>
          </div>
        </a>
      </div>
      <div class="col-md-4">
        <a href="single-page.html" class="img-bg" style="background-image: url(assets/img/img_7.jpg);">
          <div class="probootstrap-photo-details">
            <h2>Zalazak sunca</h2>
            <p>Pejzaz</p>
          </div>
        </a>
      </div>
    </div>
    
  </div>
</div>